@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body{
    font-family: 'Poppins', sans-serif;
}

#home-title{
    opacity: 0;
    transform: translate(0,-100px);
    animation: fade 1s forwards;
}
#home-img{
    opacity: 0;
    transform: translate(-100px,0);
    animation: fade 1s forwards;
}

@keyframes fade {
    to {opacity: 1;transform: translate(0,0);}
  }